<div class="accordion" id="tool" style="width: auto">

  <!--  first line-->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button aria-controls="git" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#git" data-toggle="collapse" type="button">
          Git
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingOne" class="collapse" data-parent="#tool" id="git">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Git</h2>
          <p class="lead">
            This will talk about git operations
          </p>
          <hr class="my-4">
          <p>
            Including what is git and how it works
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>



  <!--  second line-->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button aria-controls="docker" aria-expanded="false" class="btn btn-light btn-block text-left"
                data-target="#docker" data-toggle="collapse" type="button">
          Docker
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingTwo" class="collapse" data-parent="#tool" id="docker">
      <div class="card-body">
        <div class="jumbotron">
          <h3 class="display-5">Docker</h3>
          <p class="lead">
            This will talk about docker operations
          </p>
          <hr class="my-4">
          <p>
            Including what is docker and how it works
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  third line-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button aria-controls="aws" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#aws" data-toggle="collapse" type="button">
          Amazon Web Services(AWS)
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingThree" class="collapse" data-parent="#tool" id="aws">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">AWS</h2>
          <p class="lead">
            This is about some amazon web services
          </p>
          <hr class="my-4">
          <p>
            It includes EC2, S3 and RDS
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  fourth line-->
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button aria-controls="postman" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#postman" data-toggle="collapse" type="button">
          Postman
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingFour" class="collapse" data-parent="#tool" id="postman">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Postman</h2>
          <p class="lead">
            Postman is most used for api tests and create api documents
          </p>
          <hr class="my-4">
          <p>
            This includes how to use postman to create documents
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
