<div class="jumbotron">
  <h2 class="display-5">Guess which framework or libraries I use? </h2>
  <hr class="my-4">
  <form (change)="this.change()" [formGroup]="formGroup">
    <div class="form-group">
      <label for="select">Framrworks or Libraries</label>
      <select class="form-control" formControlName="select" id="select" [value]="selectValue">
        <option disabled value="choose" selected>choose...</option>
        <option value="Angular">Angular</option>
        <option value="React">React</option>
        <option value="Vue">Vue</option>
        <option value="Others">Others</option>
      </select>
      <div *ngIf="selectValue !== 'Angular' && selectValue != 'choose'" class="alert alert-danger" role="alert">
        Nope! try again LoL!!
      </div>
      <div *ngIf="this.selectValue === 'Angular' " class="alert alert-success" role="alert">
        You are right !
      </div>
    </div>
  </form>
</div>
