<div class="container">
<div class="row">
  <ol class="list-group" style="width: 100%">
    <li class="list-group-item">
      Algorithms(4th Edition) <a class="float-right" href="https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X">Buying source</a>
    </li>
    <li class="list-group-item">
      Clean Code <a class="float-right" href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship-ebook/dp/B001GSTOAM/ref=sr_1_2?dchild=1&keywords=Clean+Code&qid=1590458371&s=books&sr=1-2">Buying source</a>
    </li>
    <li class="list-group-item">
      Code Complete <a class="float-right" href="https://www.amazon.com/Code-Complete-Developer-Best-Practices-ebook/dp/B00JDMPOSY/ref=sr_1_1?dchild=1&keywords=Code+Complete&qid=1590458389&s=books&sr=1-1">Buying source</a>
    </li>
    <li class="list-group-item">
      Cracking the Coding interview <a class="float-right" href="https://www.amazon.com/Cracking-Coding-Interview-Programming-Questions/dp/0984782850/ref=sr_1_1?dchild=1&keywords=Cracking+the+Coding+interview&qid=1590458404&s=books&sr=1-1">Buying source</a>
    </li>
    <li class="list-group-item">
      Data Structures & Algorithms in Java(2nd Edition) <a class="float-right" href="https://www.amazon.com/Data-Structures-Algorithms-Robert-Lafore-ebook/dp/B075F9H5G1">Buying source</a>
    </li>
    <li class="list-group-item">
      Foundations of Algorithms <a class="float-right" href="https://www.amazon.com/Foundations-Algorithms-Richard-Neapolitan-ebook/dp/B00K6I40AW/ref=sr_1_2?dchild=1&keywords=Foundations+of+Algorithms&qid=1590458520&s=books&sr=1-2">Buying source</a>
    </li>
    <li class="list-group-item">
      Introduction to Java Programming(8th Edition) <a class="float-right" href="https://www.amazon.com/Introduction-Java-Programming-Comprehensive-8th/dp/0132130807">Buying source</a>
    </li>
    <li class="list-group-item">
      Spring MVC: Beginner's Guide <a class="float-right" href="https://www.amazon.com/Amuthan-G/dp/1783284870/ref=sr_1_2_sspa?dchild=1&keywords=Spring+MVC+Beginner%27s+Guide&qid=1590458588&s=books&sr=1-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExNkJTNllVVUg4Wk9CJmVuY3J5cHRlZElkPUEwMzQzMjY4MlZUTVhYTVc3SU5OUiZlbmNyeXB0ZWRBZElkPUEwODA1Njc3WVdUNVVYVDZVVU0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">Buying source</a>
    </li>
  </ol>
</div>
</div>
