<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../../assets/28140429.jpg" alt="XU" style="width: 30px; height: 30px"> ZIJIAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-light btn-block" (click)="nav2home()">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-light btn-block" (click)="nav2about()">About</button>
      </li>
    </ul>

    <ul class="form-inline my-2 my-lg-0">

      <button class="btn btn-light btn-block" (click)="nav2iam()">
        <div><mat-icon>face</mat-icon> I am...</div>
      </button>
    </ul>
  </div>
</nav>
