<div class="row">
  <!--  programming languages-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Programing languages</h5>
        <p class="card-text">
          This is all about programing languages
        </p>
        <div>
          <app-collapse-language></app-collapse-language>
        </div>
      </div>
    </div>
  </div>


  <!--Frameworks-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Frameworks & Libraries</h5>
        <p class="card-text">
          This is all about frameworks and libraries
        </p>
        <div>
          <app-collapse-framework></app-collapse-framework>
        </div>
      </div>
    </div>
  </div>


  <!--  software tools-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Other Software Tools</h5>
        <p class="card-text">
          This is all about software tools
        </p>
        <div>
          <app-collapse-tool></app-collapse-tool>
        </div>
      </div>
    </div>

  </div>
</div>
