<div class="row">

<!--  programming languages-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Programing languages</h5>
        <p class="card-text">
          This is all about programing languages
        </p>
<!--        <app-collapse-framework></app-collapse-framework>-->
      </div>
    </div>
  </div>


<!--Frameworks-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Frameworks</h5>
        <p class="card-text">
          This is all about frameworks
        </p>
        <app-collapse-framework></app-collapse-framework>
      </div>
    </div>
  </div>


<!--  software tools-->
  <div class="col-sm">
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Other Software Tools</h5>
        <p class="card-text">
          This is all about software tools
        </p>
<!--        <app-collapse-framework></app-collapse-framework>-->
      </div>
    </div>

  </div>
</div>
