<div class="accordion" id="language">

  <!--  first line-->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button aria-controls="java" aria-expanded="false" class="btn btn-light btn-block text-left"
                data-target="#java" data-toggle="collapse" type="button">
          Java
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingOne" class="collapse" data-parent="#language" id="java">
      <div class="card-body">
        <div class="jumbotron">
          <h3 class="display-5">Java</h3>
          <p class="lead">
            I have used Java for about 2 years
          </p>
          <hr class="my-4">
          <p>
            Includes some core java knowledge
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  second line-->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button aria-controls="javascript" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#javascript" data-toggle="collapse" type="button">
          JavaScript
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingOne" class="collapse" data-parent="#language" id="javascript">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Spring MVC</h2>
          <p class="lead">
            I used JS for about 1 year
          </p>
          <hr class="my-4">
          <p>
            Basically es6 knowledge
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  third line-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button aria-controls="python" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#python" data-toggle="collapse" type="button">
          Python
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingThree" class="collapse" data-parent="#language" id="python">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Express.js</h2>
          <p class="lead">
            I used python for just a few times
          </p>
          <hr class="my-4">
          <p>
            Some crash knowledge
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
