<div class="accordion" id="accordionExample" style="width: auto">

  <!--  first line-->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button aria-controls="Angular" aria-expanded="false" class="btn btn-light btn-block text-left"
                data-target="#Angular" data-toggle="collapse" type="button">
          Angular 7+
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="Angular">
      <div class="card-body">
        <div class="jumbotron">
          <h3 class="display-5">Angular 7+</h3>
          <p class="lead">
            This is my learning notes of Angular
          </p>
          <hr class="my-4">
          <p>
            Project includes ltgo, clock work
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  second line-->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button aria-controls="SpringMVC" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#SpringMVC" data-toggle="collapse" type="button">
          Spring MVC
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="SpringMVC">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Spring MVC</h2>
          <p class="lead">
            This includes several dependencies such as JWT, JPA
          </p>
          <hr class="my-4">
          <p>
            Project includes clock work, ACCI-SAFE
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>


  <!--  third line-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button aria-controls="Expressjs" aria-expanded="false" class="btn btn-light btn-block text-left collapsed"
                data-target="#Expressjs" data-toggle="collapse" type="button">
          Express.js
        </button>
      </h2>
    </div>
    <!--    collapse-framework-->
    <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="Expressjs">
      <div class="card-body">
        <div class="jumbotron">
          <h2 class="display-5">Express.js</h2>
          <p class="lead">
            This includes several dependencies such as JWT
          </p>
          <hr class="my-4">
          <p>
            Project includes ltgo, mearn, shopping center
          </p>
          <a class="btn btn-outline-info btn-sm" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
